h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://raw.githubusercontent.com/ranjvee/javascript-app/7f29777ad2664cc7458699137d33ec12d883df5c/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}